@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #F53A00;
    --cor2: #0a4bad6b;
    --cor3: #F06A41;
    --cor4: #e4582e;
    --cor5: #BD2C00;
}


body {
    font-family: sans-serif;
    background-color: var(--cor2);
}


h1 {
    text-align: center;
    font-size: 1.8em;
}

header {
    background-image: linear-gradient(to top, var(--cor1), var(--cor4), var(--cor3));
    padding: 15px;
    text-align: center;
}

nav {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: var(--cor1);
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

nav a {
    padding: 5px;
}

a {
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    margin: 10px;
    text-align: center;
}

/*============ INÍCIO ============*/

#Destaques {
    max-width: 1024px;
    margin: auto;
}

.img-product {
    background-color: var(--cor3);
    width: 180px;
    height: 180px;
    margin: 20px auto;
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.img-product img {
    width: 180px;
    height: 180px;
    border-radius: 3px;
}

.product:hover {
    transform: scale(1.1);
}

.desc {
    max-width: 180px;
    margin: auto;
}

/*============ CONTATO ============*/


section {
    max-width: 570px;
    margin: auto;
    font-size: 1.1em;
}

#contato {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    font-size: 1.3em;
}

#contato a:hover {
    padding: 5px;
    background-color: #1d55a86b;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#tel-float {
    font-size: 2.5em;
    transform: translateY();
    animation: float 1s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

/*============ LOCALIZÇÃO ============*/

iframe {
    margin: 15px auto;
    height: 72vh;
    width: 85vw;
    border-radius: 5px;
}

footer {
    text-align: center;
}

@media (min-width: 480px) {
    h1 {
        font-size: 2.3em;
    }
    nav {
        font-size: 1em;
    }
    .product {
        display: inline-block;
        margin-left: 20px;
    }
}

